<!DOCTYPE html>
<html lang="en">
<head>
    <title>Strava + chatGPT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .navbar {   /* Add your custom style class */
            padding-top: 5px;   /* Adjust these values as required */
            padding-bottom: 2px;
        }
        footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa; /* light gray */
  color: black;
  text-align: center;
  padding: 10px;
}
    </style>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Home</a>
    </nav>
    <div class="container mt-5">
        {% block content %}{% endblock %}
    </div>
    <footer class="footer">
        <div class="container">
          <span class="text-muted">&copy; Tillo2023 - Strava+chatGPT - All rights reserved.</span>
          <!-- Add a navigation bar or other details here -->
        </div>
      </footer>
</body>
</html>